


<nav class="navbar  navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" placement="bottom" ngbTooltip=""   routerLink="" >Northwind's Angular</a>
  <button class="navbar-toggler" type="button"(click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" >

    <span class="navbar-toggler-icon"></span>
   
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
     
      <li   routerLinkActive="active">
        <a class="nav-link" style = "cursor:pointer;" routerLink="employees" >Employees</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link " routerLink="products">Products</a>
      </li>
      <li class="nav-item dropdown" style = "cursor:pointer;" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle   id="dropdown01"  aria-haspopup="true" aria-expanded="false">{{auth.currentUserDisplayName}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          
          <a class="dropdown-item" *ngIf = "!auth.isLoggedIn()" (click)="auth.signInWithGoogle()">Log in</a>
          <a class="dropdown-item" *ngIf = "auth.isLoggedIn()" (click)="auth.signOut()" >Log out</a>
        </div>
      </li>
    </ul>
   
  </div>
</nav>

<main style="margin-top:10%;"  role="main" class="container">

<router-outlet></router-outlet>

</main><!-- /.container -->
<script src="/node_modules/angular/angular.js"></script>
	<script src="/node_modules/angular-aria/angular-aria.js"></script>
	<script src="/node_modules/angular-animate/angular-animate.js"></script>
	<script src="/node_modules/angular-messages/angular-messages.js"></script>
	<script src="/node_modules/angular-material/angular-material.js"></script>
